body {
  background-color: $light;
}


header {
  background-image: url("../images/carbonfibre.jpg");
  color: $white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  .navbar-brand a.site-title {
    color: $white;
    &:hover,
    &:focus {
     color: $white; 
    }
  }
}


nav {
  ul.navbar-nav {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;

    li {

      a {
        padding: 0 !important;
        margin: 0;
        color: $white;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
    
        &:hover,
        &:focus {
          color: $blue;
        }
    
        &:active,
        &.is-active {
          color: $red !important;
        }
      }    
    }
  }
}

main {
  padding-bottom: 9rem;
}

footer {
  background-color: $gray-900;
  color: $white;

  p {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: small;
  }
}


.view-patch-library {
  .view-filters {
    margin-top: 3rem;
    margin-bottom: 3rem;

    label {
      font-weight: 900;
    }
  }

  form.views-exposed-form .form--inline {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .form-item {
      margin: 0;
    }

    #edit-actions {
      margin-top: 30px;
    }
  }

  .view-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .views-row {
      border-radius: 6px;
      padding: 1rem;
      background-color: $white;
      border: 1px solid $gray-300;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      .views-field-title {
        text-transform: uppercase;
        font-size: x-large;
        font-weight: 900;
        margin-bottom: 10px;
      }

      .views-field-field-description {
        margin-bottom: 10px;
      }

      .views-field-field-band,
      .views-field-field-song,
      .views-field-field-bassist,
      .views-field-field-style,
      .views-field-field-effects-used,
      .views-field-field-patch-file {
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: uppercase;
        font-size: smaller;

        .views-label {
          font-weight: 600;
        }

        .field-content {
          color: $gray-600;
        }
      }

      .views-field-field-effects-used {
        margin-bottom: 10px;
      }

      .views-field-field-patch-file {
        .file--general {
          background-image: inherit;
          padding-left: inherit;

          a {
            display: inline-block;
            padding: 4px 14px;
            border-radius: 20px;
            background-color: $blue;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;

            &:hover,
            &:focus {
              background-color: $red;
            }
          }
        }

        .download-count {
          text-transform: uppercase;
          font-size: smaller;
          color: $gray-600;
        }
      }
    }
  }
}


body.path-node {
  h1 {
    text-align: center;
  }
}

#block-zoom-help {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form#node-patch-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  > div {
    border: 1px solid $gray-300;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  > div#edit-langcode-wrapper,
  > div.js-form-type-vertical-tabs,
  > div#edit-actions {
    border: inherit;
    padding: 0;
  }

  .form-item {
    margin: 0;
  }

  .form-item > label {
    font-weight: 900;
  }

  .form-item.form-type-checkbox > label {
    font-weight: 300;
  }

  .form-checkboxes {
    columns: 2;
  }

  .description {
    margin-top: 5px;
    font-weight: 600;
  }
}



@media (max-width:991px) {

  .region-nav-branding {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .region-nav-main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  ul.navbar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  footer {
    text-align: center;
  }


  h1 {
    text-align: center;
  }

  .view-patch-library {

    form.views-exposed-form .form--inline {
      justify-content: center;
    }

    .view-content {
      .views-row {
        text-align: center;

        .views-field-field-description,
        .views-field-field-band,
        .views-field-field-song,
        .views-field-field-bassist,
        .views-field-field-style,
        .views-field-field-effects-used,
        .views-field-field-patch-file {
          flex-direction: column;
          justify-content: center;
          gap: 0;
          margin-bottom: 10px;
        }

        .views-field-field-patch-file {
          .views-label {
            display: block;
            margin-bottom: 5px;
          }
          .field-content {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }

      }
    }
  }
}